/*nav aera define*/
nav {
  display: flex;
  position: fixed; /*Set the navbar to fixed position*/
  height: 120px;
  width: 100%;
  top: 0; /*Position at top*/
  background-color: #4056A1;
  color: #FFFFFF;
  justify-content: space-between;
  z-index: 2;/*always on front*/
  padding-left: 1.5em;/*Padding on both side, so logo doesn't look ugly*/
  padding-right: 1.5em;
}

#logo {
  font-family: 'Bungee';
  align-self: center;
}

/*btn to write tweet, to be added*/
.nav-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

/*text of the btn*/
#write-btn {
  font-size: 15px;
}

/*styling for the word write*/
.write {
  font-weight: 700;
}

/*the down arrow under write tweet btn*/
.nav-btn i {
  height: 15px;
  color: #ff392e;
  align-self: center;
}


/*if user is on moblie device then*/
@media only screen and (max-width: 768px) {
  nav { /*make nav bar non-fixed and same background as avator aera*/
    position: relative;
    background-color: #d4bb96;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
    height: 60px;
  }
}