/*overall old tweet aera*/
#tweet-container {
  display: flex;
  flex-direction: column;
}

/*layout to make the hover animation*/
.focus_effect {
  display: flex;
  flex-direction: column;
}

/*bottom shadow of the tweet, hidden when not active*/
.shadow {
  height: 8px;
  margin-left: 16px;
  margin-bottom: 32px;
  background-color: skyblue;
  visibility: hidden;
}

/*spacer added to side to make things look good and center*/
.sideSpacer {
  display: flex;
}

/*default offset to left*/
.leftSpacer {
  width: 8px;
}

/*shadow effect at right*/
.rightSpacer {
  width: 8px;
  margin-top: 8px;
  background-color: skyblue;
  visibility: hidden;
}

/*meat of tweet*/
.tweet-card {
  display: flex;
  width: 100%;
  height: 100%;
  background-color:  #f4f1ec;
  flex-direction: column; /**/
  min-height: 200px;
  border: 4px solid #333333;
  justify-content: space-between;
}

.tweet-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  width: 97%;
  margin: 0.5em;
  margin-top: 0.75em;
  margin-bottom: 0;
}

.other-user {
  display: flex;
  justify-self: start;
  margin-left: 0.15em;
}

.profile-pic {
  width: 30px;
  height: 30px;
}

.userName {
  margin-left: 5px;
  align-self: center;
}

.handleName {
  visibility: hidden;
  color: rgb(150, 150, 150);
  margin-right: 0.5em;
}

.tweet-content {
  display: flex;
  width: 97%;
  flex: 99%;
  justify-content: center;
  align-self: center;
  border-bottom: 4px solid #333333;
  font-weight: 300;
}

.tweet-content p{
  width: 95%;
  height: 100%;
  align-self: center;
  justify-self: center;
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.tweet-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  width: 97%;
  margin: 0.5em;
}

.footer-wrap {
  display: flex;
  width: 95%;
  align-content: center;
  justify-content: space-between;
  align-self: center;
  margin: 0%;
}

.tweet-date {
  font-weight: 100;
  font-size: small;
  align-self: center;
}

.react-icon {
  display: flex;
  width: 70px;
  justify-content: space-between;
  align-content: center;
}

.react-icon i {
  font-size: 12px;
}